<ba-panel title="Book">
  <form (submit)="getInputValuesAndNotifyOnBookChange($event)" [formGroup]="bookForm">
    <ng-container formGroupName="author">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name:</label>
        <input id="firstName" class="form-control" formControlName="firstName">
        <ba-validation-msg [of]="bookForm.get('author.firstName')"/>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name:</label>
        <input id="lastName" class="form-control" formControlName="lastName">
        <ba-validation-msg [of]="bookForm.get('author.lastName')"/>
      </div>
    </ng-container>
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input id="title" class="form-control" formControlName="title">
      <ba-validation-msg [of]="bookForm.get('title')"/>
    </div>
    <button class="btn btn-primary" [disabled]="bookForm.invalid">Save</button>
  </form>
</ba-panel>
